.tab-card-container {
    /* border: 2px solid orange; */
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.wet {
    /* border: 2px solid pink; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    height: 820px;
}

.tab5-content1 {
    /* border: 2px solid green; */
   font-size: x-large;
    font-weight: 600;
    display: flex;
}

.tab5-content2 {
    /* border: 2px solid green; */
    color: gray;
    /* font-size: 20px; */
    /* font-weight: 600; */
}
.tab5-image1{
height: 280px;
}